name: Tests

on:
  push:
    branches: "*"
  pull_request:
    branches: main

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - name: Install Pyinterp build requirements
        run: |
          sudo apt-get install g++ cmake libeigen3-dev libboost-dev
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[testing,geo]"
      - name: Run unit tests
        run: |
          pytest tests --cov=src --cov-report=xml:coverage-ut.xml --cov-report=term
          mv .coverage .coverage-ut
      - name: Upload unit test coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-coverage
          path: |
            .coverage-ut
            coverage-ut.xml

  unit_tests_no_geo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[testing]"
      - name: Run unit tests without geo
        run: |
          pytest tests/implementations/collections --without-geo-packages --cov=src --cov-report=xml:coverage-ut-nogeo.xml --cov-report=term
          mv .coverage .coverage-ut-nogeo
      - name: Upload unit test no-geo coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: unit-test-nogeo-coverage
          path: |
            .coverage-ut-nogeo
            coverage-ut-nogeo.xml

  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pip
          pip install ".[testing]"
      - name: Run integration tests
        run: |
          pytest integration_tests --cov=src --cov-report=xml:coverage-it.xml --cov-report=term
          mv .coverage .coverage-it
      - name: Upload integration test coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-coverage
          path: |
            .coverage-it
            coverage-it.xml

  coverage:
    runs-on: ubuntu-latest
    needs:
      - unit_tests
      - unit_tests_no_geo
      - integration_tests
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install coverage
        run: pip install coverage
      - name: Download coverage artifacts
        uses: actions/download-artifact@v4
        with:
          name: unit-test-coverage
          path: coverage-artifacts
      - uses: actions/download-artifact@v4
        with:
          name: unit-test-nogeo-coverage
          path: coverage-artifacts
      - uses: actions/download-artifact@v4
        with:
          name: integration-test-coverage
          path: coverage-artifacts
      - name: Combine coverage reports
        run: |
          mv coverage-artifacts/.coverage-ut .coverage-ut
          mv coverage-artifacts/.coverage-ut-nogeo .coverage-ut-nogeo
          mv coverage-artifacts/.coverage-it .coverage-it
          coverage combine .coverage-ut .coverage-ut-nogeo .coverage-it
          coverage report
          coverage xml
      - name: Upload combined coverage report
        uses: actions/upload-artifact@v4
        with:
          name: combined-coverage
          path: coverage.xml
